*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    font-family: Arial;
}

/* css for .notification */
.notification
{
    width: 100%;
    height: 50px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    background-color: rgba(255, 136, 136, 0.801);
    border-radius: 5px;
    justify-content: space-between;
}

.notification p
{
    color: red;
    font-size: 18px;
    font-weight: lighter;
}

.notification button
{
    width: 40px;
    height: 80%;
    background-color: rgba(255, 136, 136, 0.801);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 25px;
}

.notification button:hover
{
    background-color: rgba(247, 86, 86, 0.801);
}


/* .notification success  */
.notification-success
{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(49, 146, 10);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    background-color: rgba(112, 255, 93, 0.801);
    border-radius: 5px;
    justify-content: space-between;
}

.notification-success p
{
    color: rgb(14, 99, 21);
    font-size: 18px;
    font-weight: lighter;
}

.notification-success button
{
    width: 40px;
    height: 80%;
    background-color: rgba(28, 194, 50, 0.801);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 50px;
    font-size: 25px;
}

.notification-success button:hover
{
    background-color: rgba(46, 228, 39, 0.801);
}


/* code for another body part  */
.container
{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red;
    background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-container
{
    width: 300px;
    height: 400px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.form-title
{
    width: 100%;
    height: 10%;
    /* border: 2px solid rgb(10, 10, 10);
    background-color: rgb(255, 255, 255); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-title p
{
    color: #0097e6;
    font-size: 25px;
    font-weight: bold;
}

/* code for main form .container */

.main-form-container
{
    width: 100%;
    height: 90%;
    /* border: 2px solid rgb(102, 255, 0);
    background-color: rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field
{
    width: 95%;
    height: 50px;
    /* border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0); */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.form-field input
{
    width: 90%;
    height: 95%;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

#submit-btn
{
    width: 150px;
    height: 90%;
    color: #0097e6;
    background-color: #fff;
}

#submit-btn:hover
{
    background-color: #0097e6;
    color: white;
    cursor: pointer;
}




/* coe for small devices is start from here that means media query is start from here*/

@media only screen and (max-width: 600px)
{
    /* .container
    {
        background-color: #0097e6;
    } */

    .form-container
    {
        width: 90%;
    }
}